@using Humanizer
@using Pyrox.BlazorComponents.DataGrid.Attributes
@typeparam TItem
@inherits DataGridBase<TItem>

<form class="form-inline mb-2">
    <div class="form-group">
        <label for="itemsPerPageSelect" class="mr-sm-2">Items per page:</label>
        <select id="itemsPerPageSelect" class="custom-select mr-sm-2" @onchange="ShowItemsPerPage">
            <option selected value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
    <div class="form-group">
        <label for="sortSelect" class="mr-sm-2">Sort by:</label>
        <select id="sortSelect" class="custom-select mr-sm-2" @onchange="Sort">
            @foreach (var sortInfo in SortInformation<TItem>.GetSortInformationPairs())
            {
                var keyDisplayName = sortInfo.Key.Humanize(LetterCasing.Title);

                var attributes = typeof(TItem).GetProperty(sortInfo.Key).GetCustomAttributes(true);
                foreach (var attr in attributes)
                {
                    SortKeyDisplayNameAttribute displayNameAttribute = attr as SortKeyDisplayNameAttribute;
                    if (!(displayNameAttribute is null))
                    {
                        keyDisplayName = displayNameAttribute.DisplayName;
                    }
                }

                if (sortInfo == currentSort)
                {
                    <option selected value="@sortInfo.ToString()">
                        @($"{keyDisplayName} ({sortInfo.Type.ToString().ToLower()})")
                    </option>
                }
                else
                {
                    <option value="@sortInfo.ToString()">
                        @($"{keyDisplayName} ({sortInfo.Type.ToString().ToLower()})")
                    </option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label class="mr-sm-2">Search:</label>
        <SearchBox Class="mr-sm-2" OnSearch="Search" />
    </div>
</form>

<BSTable IsResponsive="true">
    <BSTableHead>
        <BSTableRow>
            @GridHeader
        </BSTableRow>
    </BSTableHead>
    <BSTableBody>
        @if (result is null || isLoading)
        {
            <tr>
                <td colspan="@(typeof(TItem).GetProperties().Length)">Loading...</td>
            </tr>
        }
        else if (result.TotalItems == 0)
        {
            <tr>
                <td colspan="@(typeof(TItem).GetProperties().Length)">No data</td>
            </tr>
        }
        else
        {
            foreach (var data in result.Data)
            {
                <tr>
                    @GridRow(data)
                </tr>
            }
        }
    </BSTableBody>
</BSTable>

@if (!(result is null))
{
    <PaginationControls @ref="paginationControls"
                        TotalItems="(int)result.TotalItems"
                        StartPage="1"
                        ItemsPerPage="currentItemsPerPage"
                        OnPageChange="HandlePageChange" />
}
